  .hero-dashboard{
    padding-bottom:16px;  
  }
  @media screen and (min-width: 1024px){
    .container-float-button{
      margin-top:-36px;
      margin:auto;
    }
  }
  @media screen and (max-width: 1024px){
    .container-float-button{
      margin-left:1.5rem;
      margin-right:1.5rem;
    }
  }
  .container-float-button{
    margin-top:-36px;
  }
 
  .dasboard-menu-item{
    font-size: 12px;
    text-align: center;
  }
  .card-round{
    border-radius: 4px;
  }
  .dasboard-menu-item-image{
    display: block;
    width:40px;
    margin:auto;
    padding-bottom:2px;
  }
  .text-center{
    text-align: center;
  }
  .card-dashboard{
    padding: 1.2rem;  
  }
  .section-normal{
    padding:1.0rem 1.5rem 1.5rem 1.5rem;
  }
  .rounded-in,.rounded-out,.rounded-trf{
    width:36px;
    height:36px;
    font-size:14px;
    color:white;
    border-radius:100%;
    line-height:36px;
    text-align:center;
  }
  .rounded-in{
    background:#2ecc71;
  }
  .rounded-out{
    background:#e74c3c;
  }
  .rounded-trf{
    background:#3498db;
  }